/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.zip
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

__ignore
/public/asset
/.idea/*
# /resources/lang
storage/fonts/dompdf_font_family_cache.php
